* {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;      
}

.cardDetail{
    margin: 0px 20px;
    display: flex;
    max-width: 600px;
    text-align: left;
    border-radius: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 40px 40px;
}


div.cardDetail p.price{
    font-size: 20px;
}

div.cardDetail img{
    max-width: 300px;
    max-height: 300px;
} 

div.cardDetail h2{
    font-size: 30px;
    padding: 5px;
}

div.cardDetail p{
    font-size: 14px;
    padding: 5px;
}

div.cardDetail div.info p span{   
    padding:0px;
    padding-right: 5px; 
    color: #808080;
    
}

