* {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;      
}

.card{
    margin: 0px 20px;
    margin-bottom: 50px;
    max-width: 150px;
    border-radius: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px 40px;
}

div.card a{
    text-decoration: none;
}

div.card a:visited{
    color: black;
} 

div.card a{
    color: black;
} 

div.card img{
    max-width: 100px;
} 

div.card h4{
    font-size: 15px;
    padding: 5px;
}

div.card p{
    font-size: 12px;
    padding: 5px;
}

.swal2-styled.swal2-confirm {
    background-color: #ff614d !important;
    box-shadow: none;
}

.swal2-styled.swal2-confirm:hover{
    background-color: #ff614d;
    box-shadow: -3px 14px 18px -6px rgba(255,97,77,0.8);
}